:root{
    --bottom-pantone: -200px;
    --orange-rubrika: #e99d26;
    --background-grey: #e7e7e7;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto';
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    height: 80px;
}

/* INDEX */
.porfolios{
    display: flex;
    justify-content: center;
}
.porfolios__single{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-grey);
    cursor: pointer;
    position: relative;
}
.porfolios__single .linktopage
{
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;
}
.porfolios__circle{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transition: opacity, transform  0.3s, 0.5s;
}
/* --- ZOOMOUT START --- */
.zoomout{
    position: relative;
    margin-bottom: 300px;
}
.zoomout__wrapper{
    overflow: clip;
    width:100%;
    min-height: 270vh;
}
.zoomout__sticky{
    width:100%;
    height: 100vh;
    top:0;
    position:sticky;
    display: flex;
    justify-content: center;
    position: sticky;
    overflow: hidden;
    align-items: flex-start;
    transform: scale(2);
}

.zoomout__wrapscalable{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.zoomout__scalable{
    background-image: url("../imgs/rubrika-portfolio-01.png");
    background-size: cover;
    aspect-ratio: 16/9;
    transform-origin: center 25%;
}
.zoomout__img{
    position: absolute;
    top: 163px;
    width: 250px;
    opacity:0;
    transition: opacity 0.5s;
}
.zoomout__img.appear{
    opacity:1
}
.zoomout__scrollnext{
    position: absolute;
    bottom: -7%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.zoomout__scrollnext__img{
    width: 300px;
    margin: 10px;
    box-shadow: 0px 12px 20px 2px #9b98984d;
}

@media screen and (max-width: 900px) {
    .zoomout__sticky {
        width: 100%;
        height: 100vh;
    }
    .zoomout__scalable {
        aspect-ratio: initial;
        width: 100%;
        height: 100%;
        background-position: center;
    }
    .zoomout__scrollnext{
        bottom: 0px;
    }
    .zoomout__scrollnext__img {
        width: 25%;
        min-width: 130px;
    }
}


/* --- ZOOMOUT END --- */


/* --- STEPSSCROLL START --- */
.stepsscroll{
    width: 100%;
    height: 400vh;
    display: flex;
}
.stepsscroll__wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    position: sticky;
    top:0;
    left:0;
}
.stepsscroll__intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.stepsscroll__intro img{
    margin: 0 15px;
}
.stepsscroll__step{
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
    opacity:1;
}
.steps__imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.step__img-container{
    width: 300px;
    height: 430px;
    position: relative;
}
.step__img-container>svg{
    position: absolute;
}
#svg-measures{
    top: -95px;
    left: -43px;
    height: 524px;
}
#svg-logo{
    bottom:0;
}

/* .a-appear-and-bottom{
    animation-name: appear-and-bottom;
    animation-duration: 4.5s;
    animation-fill-mode: both;
} */

/* @keyframes appear-and-bottom{
    0%{
        opacity:0;
        top:0;
    }
    25%{
        opacity:1;
        top:0;
    }
    50%{
        opacity:1;
        top:0;
    }
    100%{
        opacity:1;
        top:calc( 80%);
    }
} */

.a-appear{
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.a-to-bottom{
    animation-name: to-bottom;
    animation-duration: 3.5s;
    animation-fill-mode: both;
}
@keyframes to-bottom{
    0%{
        top:0;
    }
    100%{
        top:80%;
    }
}


/* --- STEPSSCROLL END --- */


/* --- ZOOMIN START --- */
.zoomin{
    width: 100%;
    height: 400vh;
} 
.zoomin__sticky{
    width: 100%;
    height: 100vh;
    position:sticky;
    top: 0;
}
.zoomin_wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.zoomin__background{
    width: 100%;
    height: 100%;
    background-image: url(../imgs/mockup-rubrika-web-2.jpg);
    background-size: contain;
    background-position: center;
    transform: scale(1);
    transform-origin: left;
}

.zoomin__background-end{
    transform: scale(8);
}
.zoomin__next{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    top: 0;
    opacity: 0;
}

/* --- ZOOMIN END --- */
.steps-copys__container{
    width: 100%;
   
}
.stepscopys__wrapper{
    height: 500vh;
    width: 100%;
}
.stepscopys__sticky{
    position: sticky;
    top: 200px;
    left: 0;
    width: 100%;
    height: 50vh;
}
.stepscopys__container{
    width: 100%;
    height: 100%;
    background-color: var(--background-grey);
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stepscopys__h2{
    font-size: 2.5em;
    font-weight: bold;
}
.stepscopys__spancolor{
    color: var(--orange-rubrika);
}
.stepscopys__cont-copys{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}
.stepscopys__copy-card{
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    position: relative;
    z-index:5;
    opacity: 1;
}
.stepscopys__copy-card:nth-child(1){
    opacity: 1;
}
.stepscopys__copy-card:nth-child(2){
    left: calc( -250px - 20px) ;
    /* transform: translateX( calc( -100% - 20px) ); */
    z-index:4;    
    /* transform: translateX(-270px); */
}
.stepscopys__copy-card:nth-child(3){
    left: calc( -500px - 40px);

    /* transform: translateX( calc( -200% - 40px) ); */
    z-index:3;
    /* transform: translateX(-540px); */
}
.stepscopys__copy-card:nth-child(4){
    left: calc( -750px - 60px);

    /* transform: translateX( calc( -300% - 60px) ); */
    z-index:2;

    /* transform: translateX(-810px); */
}



/* SCROLL LATERAL START  */

.lateralscroll{
    background-color: var(--background-grey);
}
.latscroll-wrapper{
    width: 100%;
    height: 300vw;
}
.latscroll-sticky{
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.latscroll-wrapper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.latscroll-slide{
    width: 300vw;
    height: 100%;
    display: flex;
}
.latscroll__h2{
    position: relative;
    top: 200px;
    font-size: 2.5em;
    font-weight: bold;
}
.latscroll__spancolor, .latscroll-slide__spancolor{
    color: var(--orange-rubrika);
}
.latscroll-slide__n1, .latscroll-slide__n2, .latscroll-slide__n3{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.latscroll-slide__h3{
    font-weight: bold;
    font-size: 2.5em;
}
.latscroll-slide__spanlight{
    font-weight: 300;
}
.latscroll-text-container{
    position: relative;
}
.latscroll-text-container--flex{
    display: flex;
}
.latscroll-text-container--cloud{
    width: 600px;
}
.latscroll__h3vert{
    writing-mode: tb-rl;
    font-size: 3.2em;
    margin: 0;
    transform: rotateZ(-180deg);
}
.latscroll__spanvert--ligh{
    font-weight: 400;
}
.latscroll__cloud-h4{
    font-size: 10em;
    margin: 0;
}
.latscroll__cloud-p{
    font-size: 1.5em;
    margin: 0;
}
.latscroll__cloud-p:first-of-type{
    margin-bottom: 20px;
}
.latscroll-slide__n3 img{
    max-height: 700px;
}
/* SCROLL LATERAL END  */


.transformscroll{
    padding-bottom: 200px;
    position: relative;
}
.transformscroll__tophex{
    position: absolute;
    position: absolute;
    top: -130px;
    right: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo__svg--hexlinlogo{
    height: 80px;
    transform: rotate(30deg);
    opacity:0;
}
.square__line{
    width: 100px;
    height: 100px;
    display:flex;
    transform: rotate(90deg);
}
.logo__svg--lin-puntos{
    width: 0px;
    height: 100px;
}
.transformscroll__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.transform__title{

    padding: 0 10% 100px 10%;
}

.transformscroll__h2{
    font-size: 2.5em;
    font-weight: bold;
}
.transformscroll__spancolor{
    /* color: var(--orange-rubrika) */
}
.logo_pieces{
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    width: 100%;
}
.logo_piece{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}
.logo__containersvg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.logo_piece p{
    height: 100px;
}
.logo__svg--hex, .logo__svg--hexlin{
    height: 250px;
    
}
.logo__svg--lin{
    height: 100px;
}
.logo__svg--rec{
    height: 135px;
}

.a-appear-draw .logo__svg--hexlinlogo1{
    animation: appear_opacity 0.5s 0.6s both;
}

.a-appear-draw .logo__svg--lin-puntos{
    animation: draw_line 0.5s 1.2s both;
}

.a-appear-draw .logo__svg--hexlinlogo2{
    animation: appear_opacity 0.5s 2s both;
}


@keyframes appear_opacity{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

@keyframes draw_line{
    0%{
        width:0;
    }
    100%{
        width: 100px;
    }
}


.text-paint{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient( 360deg, black 50%, orange 50%);
    background-size: 100% 200%;
    background-position: left 100%;
}
.a-appear-draw{
    animation: paint 1s 0.5s both;
}

@keyframes paint{
    0%{
        background-position: left 100%;
    }
    100%{
        background-position: left 0;
    }
}



footer{
    height: 500px;
    background-color: #333;
    width:100%;
}