:root{
    --bottom-pantone: -200px;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    margin-bottom: 8000px;
    font-family: 'Roboto';
}

/* --- ZOOMOUT START --- */
.zoomout{
    position: relative;
    margin-bottom: 300px;
}
.zoomout__wrapper{
    overflow: clip;
    width:100%;
    min-height: 270vh;
}
.zoomout__sticky{
    width:100%;
    height: 100vh;
    top:0;
    position:sticky;
    display: flex;
    justify-content: center;
    position: sticky;
    overflow: hidden;
    align-items: flex-start;
    transform: scale(2);
}

.zoomout__wrapscalable{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.zoomout__scalable{
    background-image: url("../imgs/rubrika-portfolio-01.png");
    background-size: cover;
    aspect-ratio: 16/9;
    transform-origin: center 25%;
}
.zoomout__img{
    position: absolute;
    top: 163px;
    width: 250px;
    opacity:0;
    transition: opacity 0.5s;
}
.zoomout__img.appear{
    opacity:1
}
.zoomout__scrollnext{
    position: absolute;
    bottom: -7%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.zoomout__scrollnext__img{
    width: 300px;
    margin: 10px;
    box-shadow: 0px 12px 20px 2px #9b98984d;
}

@media screen and (max-width: 900px) {
    .zoomout__sticky {
        width: 100%;
        height: 100vh;
    }
    .zoomout__scalable {
        aspect-ratio: initial;
        width: 100%;
        height: 100%;
        background-position: center;
    }
    .zoomout__scrollnext{
        bottom: 0px;
    }
    .zoomout__scrollnext__img {
        width: 25%;
        min-width: 130px;
    }
}


/* --- ZOOMOUT END --- */


/* --- STEPSSCROLL START --- */
.stepsscroll{
    width: 100%;
    height: 700vh;
    display: flex;
}
.stepsscroll__wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    position: sticky;
    top:0;
    left:0;
}
.stepsscroll__intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.stepsscroll__intro img{
    margin: 0 15px;
}
.stepsscroll__step{
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
    opacity:1;
}
.steps__imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.step__img-container{
    width: 300px;
    height: 430px;
    position: relative;
}
.step__img-container>svg{
    position: absolute;
}
#svg-measures{
    top: -95px;
    left: -43px;
    height: 524px;
}
#svg-logo{
    bottom:0;
}

/* .a-appear-and-bottom{
    animation-name: appear-and-bottom;
    animation-duration: 4.5s;
    animation-fill-mode: both;
} */

/* @keyframes appear-and-bottom{
    0%{
        opacity:0;
        top:0;
    }
    25%{
        opacity:1;
        top:0;
    }
    50%{
        opacity:1;
        top:0;
    }
    100%{
        opacity:1;
        top:calc( 80%);
    }
} */

.a-appear{
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.a-to-bottom{
    animation-name: to-bottom;
    animation-duration: 3.5s;
    animation-fill-mode: both;
}
@keyframes to-bottom{
    0%{
        top:0;
    }
    100%{
        top:80%;
    }
}


/* --- STEPSSCROLL END --- */


/* --- ZOOMIN START --- */
.zoomin{
    width: 100%;
    height: 400vh;
} 
.zoomin__sticky{
    width: 100%;
    height: 100vh;
    position:sticky;
    top: 0;
}
.zoomin_wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.zoomin__background{
    width: 100%;
    height: 100%;
    background-image: url(../imgs/mockup-rubrika-web-2.jpg);
    background-size: contain;
    background-position: center;
    transform: scale(1);
    transform-origin: left;
}

.zoomin__background-end{
    transform: scale(8);
}
.zoomin__next{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    top: 0;
    opacity: 0;
}

/* --- ZOOMIN END --- */
.steps-copys__container{
    width: 100%;
   
}
.stepscopys__wrapper{
    height: 500vh;
    width: 100%;
}
.stepscopys__sticky{
    position: sticky;
    top: 200px;
    left: 0;
    width: 100%;
    height: 50vh;
}
.stepscopys__container{
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stepscopys__cont-copys{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}
.stepscopys__copy-card{
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    position: relative;
    z-index:5;
    opacity: 1;
}
.stepscopys__copy-card:nth-child(1){
    opacity: 1;
}
.stepscopys__copy-card:nth-child(2){
    left: calc( -250px - 20px) ;
    /* transform: translateX( calc( -100% - 20px) ); */
    z-index:4;    
    /* transform: translateX(-270px); */
}
.stepscopys__copy-card:nth-child(3){
    left: calc( -500px - 40px);

    /* transform: translateX( calc( -200% - 40px) ); */
    z-index:3;
    /* transform: translateX(-540px); */
}
.stepscopys__copy-card:nth-child(4){
    left: calc( -750px - 60px);

    /* transform: translateX( calc( -300% - 60px) ); */
    z-index:2;

    /* transform: translateX(-810px); */
}



/* SCROLL LATERAL START  */

.lateralscroll{
    
}
.latscroll-wrapper{
    width: 100%;
    height: 300vw;
}
.latscroll-sticky{
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.latscroll-wrapper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.latscroll-slide{
    width: 300vw;
    height: 100%;
    display: flex;
}
.latscroll-slide__n1, .latscroll-slide__n2, .latscroll-slide__n3{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* SCROLL LATERAL END  */
